n8n/update-status-workflow.json
{
  "name": "Daily Deals - Update Attio Qualification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-deals/update-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "typeVersion": 2,
      "webhookId": "daily-deals-update-status"
    },
    {
      "parameters": {
        "jsCode": "// Get parameters from request\nconst body = $input.first().json.body || $input.first().json;\nconst attioRecordId = body.attioRecordId;\nconst qualification = body.qualification;\n\nif (!attioRecordId || !qualification) {\n  throw new Error('Missing required fields: attioRecordId and qualification');\n}\n\n// Normalize qualification to Yes/No (capital first letter)\nconst normalizedQualification = qualification.toLowerCase() === 'yes' ? 'Yes' : 'No';\n\nreturn [{ json: { attioRecordId, qualification: normalizedQualification } }];"
      },
      "id": "parse-params",
      "name": "Parse Parameters",
      "type": "n8n-nodes-base.code",
      "position": [450, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.attio.com/v2/objects/companies/records/{{ $json.attioRecordId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"values\": {\n      \"qualification\": \"{{ $json.qualification }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "attio-update",
      "name": "Update Attio Record",
      "type": "n8n-nodes-base.httpRequest",
      "position": [650, 300],
      "typeVersion": 4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "9wHiahotdFHr3tBF",
          "name": "Attio API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Check if update was successful\nif (input.error || input.code) {\n  return [{ json: { \n    success: false, \n    error: input.message || input.error || 'Failed to update Attio',\n    code: input.code\n  }}];\n}\n\n// Extract the updated qualification\nconst values = input.data?.values || {};\nconst qualField = values.qualification || [];\nconst newQualification = qualField[0]?.option?.title || qualField[0]?.value || null;\n\nreturn [{ json: { \n  success: true, \n  attioRecordId: input.data?.id?.record_id,\n  qualification: newQualification\n}}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [850, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1050, 300],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Parameters", "type": "main", "index": 0 }]]
    },
    "Parse Parameters": {
      "main": [[{ "node": "Update Attio Record", "type": "main", "index": 0 }]]
    },
    "Update Attio Record": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
